.hidden {
  display: none; }

.clock {
  border-radius: 50%;
  background: #fff url(/images/posts/clocks/ios_clock.svg) no-repeat center;
  background-size: 88%;
  height: 1em;
  padding-bottom: 31%;
  position: relative;
  width: 8em; }

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10; }

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%; }

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%; }

.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8; }

@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }

.hours-container {
  animation: rotate 43200s infinite linear; }

.minutes-container {
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

.seconds-container {
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

body {
  background-color: #292931; }

.main-window {
  width: 100%;
  background-color: transparent; }

.login {
  width: 95%;
  max-width: 500px;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  background-color: #423142;
  border-radius: 8px;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05); }
  .login .logo {
    width: 100px;
    height: 100px;
    display: block;
    padding-left: 3px;
    margin: 20px auto;
    background-color: #A9A9A9;
    border: 2px solid black;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 50%; }
  .login .user, .login .pass {
    display: block;
    width: 90%;
    margin: 0 auto; }
  .login .user-icon, .login .key-icon {
    width: 35px;
    background: #A9A9A9;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 10px; }
  .login input, .login button {
    border: none;
    width: 80%;
    height: 50px;
    margin: 0;
    display: inline-block;
    outline: none;
    outline-offset: 0;
    border-radius: 8px;
    background: transparent;
    padding: 0;
    box-shadow: none; }
  .login input {
    color: white;
    background-color: #473547;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05);
    padding-left: 20px;
    margin-top: 20px; }
    .login input:focus {
      background: rgba(0, 0, 0, 0.05); }
  .login button {
    display: block;
    margin: 0 auto;
    color: #A9A9A9; }
    .login button:hover {
      font-weight: bold;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }

nav {
  background-color: #A9A9A9;
  width: 100%;
  display: flex;
  justify-content: space-around; }
  nav h1 {
    color: #473547;
    margin-left: 10px;
    display: inline-block; }

.main-content {
  margin-top: 20px;
  margin-bottom: 100px;
  width: 100%; }
  .main-content .welcome {
    background-color: #A9A9A9;
    width: 100%;
    display: block;
    margin-bottom: 20px; }

.barInput, .reviewInput {
  width: 100%;
  margin: 0 auto;
  background-color: #423142;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05); }
  .barInput span, .reviewInput span {
    text-align: center;
    font-size: 3em;
    background-color: transparent;
    text-align: center;
    color: #A9A9A9;
    display: block; }
  .barInput input, .barInput button, .reviewInput input, .reviewInput button {
    border: none;
    width: 80%;
    height: 50px;
    margin: 0;
    display: inline-block;
    outline: none;
    outline-offset: 0;
    border-radius: 8px;
    background: transparent;
    padding: 0;
    box-shadow: none; }
  .barInput input, .reviewInput input {
    width: 100%;
    margin: 0 auto;
    color: white;
    background-color: #473547;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.05);
    padding-left: 20px;
    margin-top: 20px; }
    .barInput input:focus, .reviewInput input:focus {
      background: rgba(0, 0, 0, 0.05); }
  .barInput button, .reviewInput button {
    width: 100%;
    display: block;
    margin: 0 auto;
    color: #A9A9A9; }
    .barInput button:hover, .reviewInput button:hover {
      font-weight: bold;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }

.summary, .fullView {
  width: 95%;
  max-width: 700px;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  color: white;
  margin-top: 5px;
  font-size: 2em;
  text-align: center; }
  .summary img, .fullView img {
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    display: block;
    transition: filter ease .5s;
    transition: -webkit-filter ease .5s;
    -webkit-filter: opacity(0.7);
    filter: opacity(0.7); }
    .summary img:hover, .fullView img:hover {
      -webkit-filter: opacity(1);
      filter: opacity(1); }

footer {
  background-color: #A9A9A9;
  display: inline-flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  box-shadow: 0 -3px 5px 5px rgba(0, 0, 0, 0.3); }
  footer div {
    margin-top: 5px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer; }
    footer div:hover {
      text-decoration: underline; }
  footer img {
    display: inline-block;
    width: 50px;
    height: 50px; }
  footer .reviewIcon {
    width: 40px;
    margin: 0 auto; }
  footer .plus {
    width: 40px; }

.aboutPage {
  color: white;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px; }
  .aboutPage h2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 3em;
    margin-top: 10px; }
  .aboutPage p {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px; }
  .aboutPage span {
    display: block;
    font-size: 1.5em;
    margin-top: 10px; }

.review {
  background-color: #A9A9A9;
  color: #423142;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
  padding-top: 20px;
  padding-bottom: 20px; }
  .review p {
    margin-left: 15px; }
  .review span {
    margin-left: 15px; }
  .review .rating {
    font-size: 10em; }
  .review .author {
    display: block; }
  .review button {
    border: none;
    width: 80%;
    height: 50px;
    outline: none;
    outline-offset: 0;
    border-radius: 8px;
    background: #423142;
    padding: 0;
    box-shadow: none;
    display: block;
    margin: 8px auto;
    color: #A9A9A9; }
    .review button:hover {
      font-weight: bold;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); }
