nav{
  background-color: $grey;
  width: 100%;
  display: flex;
  justify-content: space-around;
  h1 {
    color: #473547;
    margin-left: 10px;
    display: inline-block;
  }
  img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-self: center;
  }
}
.main-content {
  background-color: $grey;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

// CREATE BAR FORM

.barInput {
  width: 100%;
  margin: 0 auto;
  background-color: $secondary;
  // border-radius: 8px;
  box-shadow: 0 2px 5px 5px $accent;
  span {
    text-align: center;
    font-size: 3em;
    background-color: transparent;
    text-align: center;
    color: $grey;
    display: block;
  }
  input, button{
    border: none;
    width: 80%;
    height: 50px;
    margin: 0;
    display: inline-block;
    outline: none;
    outline-offset: 0;
    border-radius: 8px;
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
  input {
    width: 100%;
    margin: 0 auto;
    color: white;
    background-color: #473547;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 5px $accent;
    padding-left: 20px;
    margin-top: 20px;
    // border: .5px solid $black;
    &:focus{
      background: $accent;
    }
  }
  button {
    width: 100%;
    display: block;
    margin: 0 auto;
    color: $grey;
    &:hover{
      font-weight: bold;
      text-shadow: 0 2px 5px rgba(0,0,0,0.4);
    }
  }
}


//  FOOTER
footer {
  background-color: $grey;
  display: inline-flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  div {
    margin-top: 5px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}
